<form action="/form" method="POST">
<p> Título:</p>
<input type="text" name="titulo">
<p>Contuúdo:</p>
<textarea name="conteudo"></textarea> 
<button type="submit" placeholder="clique aqui para cadastrar">Cadastrar</button>

</form>